# Reports
Thresholding and Permutaion

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot') 
import numpy as np
import scipy.stats.stats as st

In [38]:
path_database_H='/media/fsg/New Volume/ph/All-13-3-2018/papers/semantics/database/H/'#'/media/fsg/74C86089C8604C04/PHD/Softwares/ph/database/' 
path_database_H_C='/media/fsg/New Volume/ph/All-13-3-2018/papers/semantics/database/H/compining/'
path_database_W='/media/fsg/New Volume/ph/All-13-3-2018/papers/semantics/database/W/'
path_database_W_C='/media/fsg/New Volume/ph/All-13-3-2018/papers/semantics/database/W/compining/'
path_database_TFIDF='/media/fsg/New Volume/ph/All-13-3-2018/papers/semantics/database/TF-IDF/'
tf_idf_lesk_table='tf_idf_lesk_table.csv'
H1='H1.csv' #H
H2='H2.csv' #H
H4='H4.csv' #H
H_NMF='H_Siketleran.csv'
nmf_H_normal_table='nmf_H_normal_table.csv'
W1='W1.csv' #H
W2='W2.csv' #H
W4='W4.csv' #H
W_NMF='W_Siketleran.csv'

In [3]:


column_topics=list(range(1, 196))

In [4]:
def read_cvs_by_pands(path_database,file_databbase,index_col, header):
    return pd.read_csv(path_database+file_databbase,index_col=index_col,header=header)

In [5]:
def counter_conditions_tables(path_database,main_table,counting_table,counting_column_name,condition,num_after_cond):
    df_Thresholding=read_cvs_by_pands(path_database,main_table,index_col=0,header=0)
    if condition =='!=':
        r=(df_Thresholding != num_after_cond).sum(axis=0)#columns
    if condition =='==':
        r=(df_Thresholding == num_after_cond).sum(axis=0)
    if condition =='>=':
        r=(df_Thresholding >= num_after_cond).sum(axis=0)
    if condition =='<=':
        r=(df_Thresholding <= num_after_cond).sum(axis=0)
    if condition =='<':
        r=(df_Thresholding < num_after_cond).sum(axis=0)
    if condition =='>':
        r=(df_Thresholding > num_after_cond).sum(axis=0)
    #print(type(r))
    df=pd.DataFrame(r,columns=[counting_column_name])
    df.T.to_csv(path_database_H_C+counting_table)#columns=df_Thresholding.columns)
    return df

In [6]:
def compind_df(frames,path_database,combined_table):
    #frames.append(df)
    df_all = pd.concat(frames, axis=1)#lesk
    df_all.replace(np.nan, 0, inplace=True)
    df_all.T.to_csv(path_database+combined_table) 
    return df_all

In [7]:
def lenth_df(path_database,combined_table,counting_column_name):
    df_Thresholding=read_cvs_by_pands(path_database,combined_table,index_col=0,header=0)
    r=(df_Thresholding).count(axis=0)
    df=pd.DataFrame(r,columns=[counting_column_name])
    #df.T.to_csv(path_database+counting_table)#columns=df_Thresholding.columns)
    return df

# Search

In [111]:
H1df=read_cvs_by_pands(path_database_H,H4,0, 0)
l=H1df[H1df['ace.n.03']!=0]['ace.n.03'].sort_values(ascending=False)

#H1df
type(l.sort_values)
df_topics=pd.DataFrame(l)
df_topics

                         ace.n.03
engineer.n.02            2.173051
whitethorn.n.01          2.049018
homo.n.02                2.049018
level.n.05               1.552012
computer.n.01            1.552012
concrete.n.01            1.552012
design.n.06              1.552012
engineering.n.03         1.552012
foundation_garment.n.01  1.552012
graphics.n.02            1.552012
human_body.n.01          1.552012
invention.n.02           1.552012
automaton.n.02           1.552012
objective.n.02           1.552012
separate.n.02            1.552012
storehouse.n.01          1.552012
stove.n.01               1.552012
system.n.08              1.552012
tool.n.01                1.552012
well.n.05                1.552012
mississippi.n.02         1.273133
open.n.01                1.273133
park.n.02                1.273133
property.n.05            1.273133
hardware.n.03            1.273133
spot.n.01                1.273133
focus.n.07               1.273133
central.n.01             1.273133
workplace.n.01           1.273133

In [112]:
W1df=read_cvs_by_pands(path_database_W,W1,0, 0)
df=W1df[df_topics.index].T
#W1df

print(type(df.max(axis=1)))
df['max_value'] = df.max(axis=1)
#df.iloc[0].sort_values(ascending=False)
df

<class 'pandas.core.series.Series'>

,0,1,2,3,4,5,6,max_value
engineer.n.02,0.0000,0.0003,0.0000,0.0000,0.0000,0.0026,0.0011,0.0026
whitethorn.n.01,0.0000,0.0000,0.0000,0.0000,0.0011,0.0262,0.0000,0.0262
homo.n.02,0.0000,0.0000,0.0000,0.0000,0.0000,0.2193,0.0102,0.2193
level.n.05,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
computer.n.01,0.1432,0.0506,0.0969,0.1016,0.0501,0.0917,0.0380,0.1432
concrete.n.01,0.0022,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0022
design.n.06,0.0021,0.0301,0.0064,0.0163,0.0000,0.0050,0.0170,0.0301
engineering.n.03,0.0214,0.0101,0.0000,0.0000,0.0000,0.0000,0.0271,0.0271
foundation_garment.n.01,0.0000,0.0000,0.0107,0.0179,0.0000,0.0000,0.0000,0.0179
graphics.n.02,0.0250,0.0036,0.0000,0.0000,0.0000,0.0000,0.0000,0.0250
human_body.n.01,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0431,0.0431
invention.n.02,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0064,0.0064
automaton.n.02,0.0000,0.0000,0.0000,0.0000,0.0000,0.0035,0.0000,0.0035
objective.n.02,0.0000,0.0000,0.0000,0.0042,0.0000,0.0000,0.0000,0.0042
separate.n.02,0.0000,0.0154,0.0000,0.0000,0.0000,0.0000,0.0000,0.0154
storehouse.n.01,0.0000,0.0000,0.0000,0.0000,0.0277,0.0111,0.0000,0.0277
stove.n.01,0.0049,0.0033,0.0000,0.0112,0.0000,0.0000,0.0000,0.0112
system.n.08,0.0277,0.0000,0.0663,0.0000,0.0000,0.1119,0.0000,0.1119
tool.n.01,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0193,0.0193
well.n.05,0.0000,0.0006,0.0195,0.0000,0.0000,0.0000,0.0000,0.0195
mississippi.n.02,0.0000,0.0000,0.0000,0.0194,0.0000,0.0000,0.0000,0.0194
open.n.01,0.0000,0.0000,0.0071,0.0000,0.0000,0.0000,0.0000,0.0071
park.n.02,0.0097,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0097
property.n.05,0.0000,0.0000,0.0000,0.0000,0.0000,0.0152,0.0000,0.0152
hardware.n.03,0.0023,0.0163,0.0000,0.0118,0.0000,0.0000,0.0000,0.0163
spot.n.01,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0391,0.0391
focus.n.07,0.0073,0.0094,0.0000,0.0000,0.0000,0.0000,0.0089,0.0094
central.n.01,0.0000,0.0373,0.0000,0.0000,0.0000,0.0000,0.0000,0.0373
workplace.n.01,0.0000,0.0000,0.1467,0.0000,0.0000,0.0000,0.0000,0.1467

In [115]:
H_Siketlerandf=read_cvs_by_pands(path_database_H,H_NMF,0, 0).T
H_Siketlerandfl=H_Siketlerandf[H_Siketlerandf['ace.n.03']!=0]#['ace.n.03'].sort_values(ascending=False)
H_Siketlerandfl


#H_Siketlerandf
#H1df
#type(H_Siketlerandfl.sort_values)
#df_topics_H_Siketlerandf=pd.DataFrame(H_Siketlerandfl)
#df_topics_H_Siketlerandf

,ace.n.03,acquiring.n.01,algorithm.n.01,automaton.n.02,beginning.n.05,bind.n.01,broad.n.01,building.n.04,business.n.04,calculation.n.02,...,view.n.02,view.n.07,way.n.12,well.n.05,whitethorn.n.01,wish.n.01,workplace.n.01,world.n.02,world.n.08,young.n.04
6,0.062198,0.062198,0.0,0.0,0.0,0.0,0.0,0.062198,0.062198,0.0,...,0.0,0.0,0.0,0.0,0.0,0.062198,0.0,0.062198,0.0,0.0

In [129]:
WNMFdf=read_cvs_by_pands(path_database_W,W_NMF,0, 0)
dfWNMF=WNMFdf[H_Siketlerandfl.index].T
#W1df

#print(type(df.max(axis=1)))
dfWNMF['max_value'] = dfWNMF.max(axis=1)
dfWNMF.loc['6'].sort_values(ascending=False)
dfWNMF.head(2).T

                      6
1          1.231518e+00
2          0.000000e+00
3          1.051015e-03
4          8.739810e-07
5          1.822364e-08
6          0.000000e+00
7          1.762248e-06
max_value  1.231518e+00

# Before

In [8]:
H1_df=lenth_df(path_database_H,H1,'H1_C')
H1_df

                             H1_C
ace.n.03                      195
acquiring.n.01                195
algorithm.n.01                195
automaton.n.02                195
beginning.n.05                195
bind.n.01                     195
broad.n.01                    195
building.n.04                 195
business.n.04                 195
calculation.n.02              195
capability.n.02               195
care.n.04                     195
career.n.02                   195
central.n.01                  195
challenge.n.05                195
cognition.n.01                195
communication.n.03            195
complex.n.03                  195
computer.n.01                 195
computer_architecture.n.02    195
computer_science.n.01         195
concept.n.01                  195
conclusion.n.08               195
concrete.n.01                 195
connection.n.07               195
creativity.n.01               195
data.n.01                     195
database.n.01                 195
depth.n.04                    195
design.n.06                   195
...                           ...
technology.n.01               195
terminology.n.01              195
terminus.n.03                 195
theatrical_performance.n.01   195
theory.n.03                   195
thinking.n.01                 195
tilt.n.04                     195
tool.n.01                     195
tour.n.01                     195
training.n.01                 195
transfer.n.05                 195
transformation.n.04           195
translation.n.05              195
treatment.n.02                195
trouble.n.01                  195
understanding.n.01            195
university.n.03               195
use.n.03                      195
user.n.01                     195
valet.n.01                    195
view.n.02                     195
view.n.07                     195
way.n.12                      195
well.n.05                     195
whitethorn.n.01               195
wish.n.01                     195
workplace.n.01                195
world.n.02                    195
world.n.08                    195
young.n.04                    195

[195 rows x 1 columns]

In [59]:
'''
H1
'''
df_H1=counter_conditions_tables(path_database_H,H1,"H1_C.csv",'H1_C','!=',0)
'''
H2
'''
df_H2=counter_conditions_tables(path_database_H,H2,"H2_C.csv",'H2_C','!=',0)
'''
H4
'''
df_H4=counter_conditions_tables(path_database_H,H4,"H4_C.csv",'H4_C','!=',0)
'''
H_NMF
'''
df_H_NMF=counter_conditions_tables(path_database_H,H_NMF,"H_NMF_C.csv",'H_NMF_C','!=',0)
df_H_NMF
df_H_NMF2=counter_conditions_tables(path_database_H,H_NMF,"H_NMF2_C2.csv",'H_NMF2_C2','>=',1)
df_H_NMF2

   H_NMF2_C2
1          0
2          0
3          0
4          0
5          0
6          0
7          0

In [60]:
df_H1_max7=df_H1.sort_values('H1_C',ascending=False)
df_H1_max7.head(n=7)

                   H1_C
formulation.n.01    195
world.n.08          195
terminus.n.03       195
frankincense.n.01   195
origin.n.03         142
acquiring.n.01      142
much.n.01           142

In [61]:
df_H2_max7=df_H2.sort_values('H2_C',ascending=False)
df_H2_max7.head(n=7)

                     H2_C
origin.n.03            79
reasoning.n.01         79
programming.n.02       79
progress.n.02          79
progress.n.03          79
psychoanalysis.n.01    79
reason.n.06            79

In [62]:
df_H4_max7=df_H4.sort_values('H4_C',ascending=False)
df_H4_max7.head(n=7)

                     H4_C
origin.n.03            79
learning.n.01          79
psychoanalysis.n.01    79
reason.n.06            79
reasoning.n.01         79
inquiry.n.01           79
resolution.n.04        79

In [63]:

df_H_NMF_max7=df_H_NMF.sort_values('H_NMF_C',ascending=False)
df_H_NMF_max7.head(n=7)
#df_H1.sort([6], ascending=[False]).groupby(6).head(2).T.ix[0:0,0:5]

   H_NMF_C
6       98
7       74
4       53
1       39
3       39
5       36
2       28

In [64]:
df_H_NMF2_max7=df_H_NMF2.sort_values('H_NMF2_C2',ascending=False)
df_H_NMF2_max7.head(n=7)

   H_NMF2_C2
1          0
2          0
3          0
4          0
5          0
6          0
7          0

In [65]:
#df_nmf_W_res_sem_sim_correlation_coefficient_table=read_cvs_by_pands(path_database,nmf_W_res_sem_sim_correlation_coefficient_table,index_col=0,header=0)
#df_H1.T.sort([6], ascending=[False]).groupby(6).head(2).T.ix[0:0,0:5]

In [66]:
# Report to misure zeros and 1 data res statics 

df_H1.index=column_topics
df_H2.index=column_topics
df_H4.index=column_topics
res_frames=[]
#res_frames.append(df_H1)#res_sem_sim_table_counting_column_name
#res_frames.append(df_H2)#res_counter_columns_less_than_one
#res_frames.append(df_H4)#res_counter_columns_not_equal_zero_table
res_frames.append(df_H_NMF)#res_counter_columns_not_equal_zero_table
compind_df(res_frames,path_database,"dimentionalty_reduction_res_statistical_table.csv").T

NameError: name 'path_database' is not defined

# W

In [67]:
W1_df=lenth_df(path_database_W,W1,'HW_C')
W1_df

                             HW_C
ace.n.03                        7
acquiring.n.01                  7
algorithm.n.01                  7
automaton.n.02                  7
beginning.n.05                  7
bind.n.01                       7
broad.n.01                      7
building.n.04                   7
business.n.04                   7
calculation.n.02                7
capability.n.02                 7
care.n.04                       7
career.n.02                     7
central.n.01                    7
challenge.n.05                  7
cognition.n.01                  7
communication.n.03              7
complex.n.03                    7
computer.n.01                   7
computer_architecture.n.02      7
computer_science.n.01           7
concept.n.01                    7
conclusion.n.08                 7
concrete.n.01                   7
connection.n.07                 7
creativity.n.01                 7
data.n.01                       7
database.n.01                   7
depth.n.04                      7
design.n.06                     7
...                           ...
technology.n.01                 7
terminology.n.01                7
terminus.n.03                   7
theatrical_performance.n.01     7
theory.n.03                     7
thinking.n.01                   7
tilt.n.04                       7
tool.n.01                       7
tour.n.01                       7
training.n.01                   7
transfer.n.05                   7
transformation.n.04             7
translation.n.05                7
treatment.n.02                  7
trouble.n.01                    7
understanding.n.01              7
university.n.03                 7
use.n.03                        7
user.n.01                       7
valet.n.01                      7
view.n.02                       7
view.n.07                       7
way.n.12                        7
well.n.05                       7
whitethorn.n.01                 7
wish.n.01                       7
workplace.n.01                  7
world.n.02                      7
world.n.08                      7
young.n.04                      7

[195 rows x 1 columns]

In [68]:

'''
H1
'''
df_W1=counter_conditions_tables(path_database_W,W1,"W1_C.csv",'W1_C','!=',0)
'''
H2
'''
df_W2=counter_conditions_tables(path_database_W,W2,"W2_C.csv",'W2_C','!=',0)
'''
H4
'''
df_W4=counter_conditions_tables(path_database_W,W4,"W4_C.csv",'W4_C','!=',0)
'''
H_NMF
'''
df_W_NMF=counter_conditions_tables(path_database_W,W_NMF,"W_NMF_C.csv",'W_NMF_C','!=',0)
df_W_NMF
#df_H_NMF2=counter_conditions_tables(path_database_H,H_NMF,"H_NMF2_C2.csv",'H_NMF2_C2','>=',1)
#df_H_NMF2

   W_NMF_C
1        1
2        2
3        1
4        1
5        1
6        5
7        6

In [69]:
df_W_NMF_max7=df_W_NMF.sort_values('W_NMF_C',ascending=False)
df_W_NMF_max7.head(n=7)

   W_NMF_C
7        6
6        5
2        2
1        1
3        1
4        1
5        1

In [84]:
df_W1_max7=df_W1.sort_values('W1_C',ascending=False)
tt=df_W1_max7.head(n=1)
tt

              W1_C
science.n.01     7

In [112]:
df_H1=read_cvs_by_pands(path_database_H,H1,0, 0)[tt.index]
#df_H1

In [115]:
df_H1_1=df_H1.loc[df_H1['science.n.01']>0]
df_H1_1

                             science.n.01
acquiring.n.01                   1.781270
algorithm.n.01                   1.781270
beginning.n.05                   1.781270
bind.n.01                        3.086261
building.n.04                    0.622355
business.n.04                    3.086261
calculation.n.02                 3.086261
capability.n.02                  0.622355
care.n.04                        0.622355
career.n.02                      1.781270
challenge.n.05                   0.622355
cognition.n.01                   3.086261
communication.n.03               0.622355
complex.n.03                     0.622355
computer_architecture.n.02       0.622355
computer_science.n.01            5.529019
concept.n.01                     3.700225
conclusion.n.08                  0.622355
creativity.n.01                  3.086261
data.n.01                        0.622355
database.n.01                    0.622355
depth.n.04                       0.622355
discipline.n.02                  3.086261
drawing.n.05                     1.781270
education.n.04                   1.781270
effect.n.04                      0.622355
efficiency.n.02                  0.622355
electronics.n.01                 6.419998
element.n.07                     0.622355
energy.n.05                      0.622355
...                                   ...
substitution_class.n.01          0.622355
sum.n.02                         3.700225
summons.n.03                     0.622355
survey.n.01                      1.781270
sustenance.n.03                  1.781270
symbol.n.01                      0.622355
take.n.02                        1.781270
technique.n.01                   3.086261
technology.n.01                  1.781270
terminology.n.01                 0.622355
terminus.n.03                    0.622355
theatrical_performance.n.01      1.781270
theory.n.03                      3.700225
thinking.n.01                    3.086261
tilt.n.04                        0.622355
tour.n.01                        1.781270
training.n.01                    1.781270
transfer.n.05                    3.086261
transformation.n.04              1.781270
treatment.n.02                   1.781270
trouble.n.01                     3.086261
understanding.n.01               3.086261
university.n.03                  0.622355
use.n.03                         0.622355
view.n.02                        3.700225
view.n.07                        3.700225
way.n.12                         0.622355
wish.n.01                        0.622355
world.n.02                       0.622355
world.n.08                       0.622355

[142 rows x 1 columns]

# TF-IDF

In [116]:
tf_IDF=read_cvs_by_pands(path_database_TFIDF,tf_idf_lesk_table,0, 0)[df_H1_1.index]

In [117]:
#tf_IDF.columns=df_W1_max7.index

In [118]:
#df_W1_max7.index
tf_IDF

,acquiring.n.01,algorithm.n.01,beginning.n.05,bind.n.01,building.n.04,business.n.04,calculation.n.02,capability.n.02,care.n.04,career.n.02,...,trouble.n.01,understanding.n.01,university.n.03,use.n.03,view.n.02,view.n.07,way.n.12,wish.n.01,world.n.02,world.n.08
0,0.076598,0.000000,0.000000,0.000000,0.076598,0.076598,0.000000,0.000000,0.076598,0.000000,...,0.145541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076598,0.076598,0.000000
1,0.000000,0.113981,0.092514,0.092514,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.043946,0.307179,0.000000,0.000000,0.092514,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.108447,0.000000,0.000000,0.000000,0.000000,0.352089,0.000000,0.000000,0.000000,...,0.083624,0.146132,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.098722,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.160257,...,0.076125,0.000000,0.160257,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.145887,0.000000,0.000000,...,0.069299,0.000000,0.000000,0.121099,0.000000,0.000000,0.000000,0.000000,0.000000,0.291774
6,0.000000,0.083143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.064112,0.000000,0.000000,0.224070,0.000000,0.134968,0.134968,0.000000,0.000000,0.000000

# Search

In [1]:
from nltk.corpus import wordnet as wn

In [8]:
from nltk.corpus import wordnet as wn
for synset in wn.synsets('Computer'):
    print(synset)
    #for lemma in synset.lemmas():
     #   print(lemma)
     #  print (lemma.name())

Synset('computer.n.01')
Synset('calculator.n.01')

In [42]:
W4_df=read_cvs_by_pands(path_database_W,W4,0, 0)

In [53]:
W4_df[W4_df['computer.n.01']>=1]['computer.n.01']

5    3.597975e+11
Name: computer.n.01, dtype: float64

In [26]:
H4_df=read_cvs_by_pands(path_database_H,H4,0, 0)

In [52]:
H4_df[H4_df['computer.n.01']!=0]['computer.n.01']

ace.n.03                   1.552012
automaton.n.02             4.208650
central.n.01               1.273133
computer.n.01              6.871265
concrete.n.01              2.561045
connection.n.07            1.552012
design.n.06                2.561045
engineering.n.03           2.561045
focus.n.07                 1.273133
foundation_garment.n.01    2.561045
graphics.n.02              2.561045
hardware.n.03              1.273133
hired_hand.n.01            1.552012
homo.n.02                  1.552012
human_body.n.01            1.552012
invention.n.02             2.561045
level.n.05                 4.208650
mathematician.n.01         1.552012
mississippi.n.02           1.273133
objective.n.02             4.208650
open.n.01                  1.273133
park.n.02                  1.273133
programmer.n.01            1.552012
property.n.05              1.273133
scientist.n.01             1.552012
separate.n.02              2.561045
spot.n.01                  1.273133
storehouse.n.01            2.561045
stove.n.01                 2.561045
student.n.01               1.552012
system.n.08                1.552012
tool.n.01                  3.353948
user.n.01                  1.552012
valet.n.01                 1.552012
well.n.05                  2.561045
whitethorn.n.01            1.552012
workplace.n.01             1.273133
young.n.04                 1.552012
Name: computer.n.01, dtype: float64

In [55]:
W_NMF_df=read_cvs_by_pands(path_database_W,W_NMF,0, 0)

In [56]:
W_NMF_df

,1,2,3,4,5,6,7
1,0.000000,0.000000,0.000000,0.000000,0.000000,1.231518e+00,0.000000e+00
2,0.000000,0.000000,0.000000,1.057755,0.000000,0.000000e+00,7.630677e-06
3,0.000000,0.000000,0.000000,0.000000,0.000000,1.051015e-03,7.786352e-01
4,0.000000,0.000000,0.000000,0.000000,1.084811,8.739810e-07,1.340226e-07
5,0.000000,1.019758,0.000000,0.000000,0.000000,1.822364e-08,3.309815e-09
6,0.538218,0.000008,0.000000,0.000000,0.000000,0.000000e+00,7.081582e-06
7,0.000000,0.000000,0.922158,0.000000,0.000000,1.762248e-06,2.992837e-07

In [57]:
H_NMF_df=read_cvs_by_pands(path_database_H,H_NMF,0, 0)

In [77]:
H_NMF_df.loc['computer.n.01'].sort_values(ascending=False).head(7)

1    0.681521
7    0.473135
6    0.443099
5    0.371441
2    0.184724
3    0.184001
4    0.183257
Name: computer.n.01, dtype: float64

In [76]:
H4_df.loc['computer.n.01'].sort_values(ascending=False).head(7)

computer.n.01       6.871265
objective.n.02      4.208650
automaton.n.02      4.208650
level.n.05          4.208650
tool.n.01           3.353948
engineering.n.03    2.561045
separate.n.02       2.561045
Name: computer.n.01, dtype: float64